@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #202326;
  color: #f2f2f2;
}
body::-webkit-scrollbar{
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
